**.a
**.bak
**.d
**.o
config.log
examples/config.log
examples/fileman
examples/hist_erasedups
examples/hist_purgecmd
examples/histexamp
examples/rl
examples/rl-callbacktest
examples/rlbasic
examples/rlcat
examples/rlevent
examples/rlkeymaps
examples/rltest
examples/rlversion
readline++.pc
readline.pc
stamp-h
tags
