**.a
**.bak
**.d
**.o
*.a
*.dll
*.dylib
*.o
*.sl
*.so
Makefile
config.cache
config.h
config.log
config.status
doc/Makefile
examples/Makefile
examples/config.log
examples/fileman
examples/hist_erasedups
examples/hist_purgecmd
examples/histexamp
examples/rl
examples/rl-callbacktest
examples/rlbasic
examples/rlcat
examples/rlevent
examples/rlkeymaps
examples/rltest
examples/rlversion
libhistory.so.*
libreadline.so.*
readline++.pc
readline.pc
shlib/Makefile
stamp-h
tags
